{% extends "ingress/base.html" %}
{% block title %}About{% endblock %}
{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
{% include "ingress/forkme.html" %}

<div class="pl-30">
    <h1>About Ingress Stat</h1>

    <p>
    All the Portals, Players, Actions are collected for the following region.
    </p>
    Because we need to be polite when accessing Ingress's data, so the data
    <br>
    on this site maybe inaccurate.
</div>

{% endblock %}
