{% extends "ingress/base.html" %}
{% block title %}Actions{% if portal %} on {{ portal.name }}{% else %}{% if player %} of {{ player.id }}{% endif %}{% endif %}{% endblock %}
{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}


{% block content %}
<div style="padding-left: 1em;">

{% if player %}
    <h1>Latest 100 Actions of {{ player.id }}</h1>
{% elif portal %}
    <h1>Latest 100 Actions on <a href="{{ portal.get_absolute_url }}">{{ portal.name }}</a></h1>
{% else %}
    <h1>Latest 100 Actions{% if portal %} on {{ portal.name }}{% endif %}</h1>
{% endif %}

{% if portal.has_maps %}
    <a href="/portals/{{ portal.guid }}/">View Details of {{ portal.name }}</a>
    <br>
    <br>
{% endif %}

<table class="pure-table pure-table-bordered">
    <thead>
    <tr>
        <th>Time</th>
        <th>Player</th>
        <th>Action</th>
        <th>Portal</th>
        <th>Res.</th>
    </tr>
    </thead>
    <tbody>
    {% for item in actions %}
    <tr class="c-{{ item.player.team }}">
        <td>{{ item.hour_minute }}</td>
        <td>
            <a href="/actions/player/{{ item.player.id }}/">
                <span class="c-{{ item.player.team }}">{{ item.player.id }}</span>
            </a>
        </td>
        <td>{{ item.name }}</td>
        <td>
            <a href="/actions/portal/{{ item.portal.guid }}/">
                <span class="c-{{ item.player.team }}">{{ item.portal.name }}</span>
            </a>
            {% if item.portal_to %}
                To<br>
                <a href="/actions/portal/{{ item.portal_to.guid }}/">
                    <span class="c-{{ item.player.team }}">{{ item.portal_to.name }}</span>
                </a>
            {% endif %}
        </td>
        <td>{% if item.resonator %}L{{ item.resonator }}{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% if player or portal %}
<div class="pure-g">
    <div class="pure-u-1-1 pl-20 gray mt-40">
        <ol>
            <li>Actions before 30 days ago will not be shown</li>
            <li>Only as max as 100 actions are shown</li>
        </ol>
    </div>
</div>
{% endif %}

{% endblock %}
