<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/media/css/pure-min.css">
    <link rel="stylesheet" href="/media/css/ingress.css?v=140819-01">
    <title>{% block title %}{% endblock %} | Ingress Stat</title>
    {% block meta %}{% endblock %}
</head>
<body>


<div class="wrapper">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/portals/">Portals</a></li>
            <li><a href="/players/">Players</a></li>
            <li><a href="/mus/">MUs</a></li>
            <li><a href="/actions/">Actions</a></li>
            <li><a href="/messages/">Messages</a></li>
            <li><a href="/search/">Search</a></li>
            <li><a href="/top_area/">Top Area</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </div>

    {% block content %}{% endblock %}

    <div class="footer"> © 2014 mitnk </div>
</div>


{% if not debug %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53179716-1', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}

</body>
</html>
