{% extends "ingress/base.html" %}
{% block title %}{{ portal.name }} Portal{% endblock %}
{% block meta %}
    <link rel="stylesheet" href="/media/css/cbracco.css">
{% endblock %}


{% block content %}
<div style="padding-left: 20px;">
    <h1>Portal Detail for {{ portal.name }}</h1>


{% if portal.updated %}

    <div class="pure-g">
        <div class="pure-u-23-24 mb-30">
            <span class="gray">Portal info last updated at {{ portal.updated_str }}.</span>
        </div>
    </div>

    <div class="pure-g mb-30">
        <div class="pure-u-1-8">
            <div>Owner</div>
        </div>
        <div class="pure-u-20-24 cell-portal-owner">
        {% if portal.owner %}
            <span class="c-{{ portal.team }}">{{ portal.owner }}</span>
        {% else %}
            <span class="c-N">NEUTRAL</span>
        {% endif %}
        </div>
    </div>

    {% if portal.level > 0 %}
    <div class="pure-g mb-20">
        <div class="pure-u-1-8">
            <div>Level</div>
        </div>
        <div class="pure-u-20-24 cell-portal-owner">
            <span class=" c-L{{ portal.level }}">L{{ portal.level }}</span>
        </div>
    </div>
    {% endif %}

    {% if portal.level > 0 %}
    <div class="pure-g">
        <div class="pure-u-1-8">
            <div class="reso-header">Res.</div>
        </div>
        <div class="pure-u-20-24">
            {% if portal.res_count > 0 %}
                {% for x in portal.resolator_list %}
                    {% if forloop.first %}
                    <div class="pure-u-23-24">
                    {% endif %}

                    {% if forloop.counter == 5 %}
                    <div class="pure-u-23-24">
                    {% endif %}

                    <div {% if x.owner %}data-tooltip="{{ x.owner }}"{% endif %} class="bg-{% if x.owner %}{{portal.team}}{% else %}N{% endif %} cell-reso c-L{{ x.level }} {% if forloop.counter > 4 %} tooltip-bottom{% endif %}">
                        {% if x.owner %}
                        <span>L{{ x.level }}</span>
                        {% endif %}
                    </div>

                    {% if forloop.counter == 4 %}
                    </div>
                    {% endif %}

                    {% if forloop.last %}
                    </div>
                    {% endif %}

                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %} {# endif of portal.level > 0 #}

    {% if portal.mod_status %}
    <div class="pure-g">
        <div class="pure-u-1-8">
            <div class="reso-header">Mods</div>
        </div>
        <div class="pure-u-20-24 sec-mod">
            {% for x in portal.mod_list %}
                <div {% if x.owner %}data-tooltip="{{ x.owner }}"{% endif %} class="bg-mod-{{ x.rarity|lower }} cell-mod">
                    <span>{{ x.name }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %} {# endif of portal.mod_status #}

{% endif %} {# endif of portal.updated #}

    <div>
        <a href="{{ portal.get_actions_url }}">View latest actions on {{ portal.name }}</a>
        <br>
        <br>
        <a class="external" href="{{ portal.get_ingress_url }}" target="_blank">Open in Ingress Intel</a>
        <br>
        <br>
        <a class="external" href="{{ portal.get_google_map_url }}" target="_blank">Open in Google Maps</a>
    </div>

</div>
{% endblock %}
